
* {
  font-family: 'Open Sans', sans-serif;
}
body{
  background-image: url("pexels-billel-moula-540518.jpg");
  background-size: cover;
}
.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}

